@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./imges/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.todo-app{
  display: grid;
  gap: 0.5em;
  justify-content:center;
  align-items:center;
}
.todo{
  display: grid;
  gap: 0.5em;
}
